// responsive
@mixin md {
  @media (max-width: #{$laptop - 1}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$mobile - 1}) {
    @content;
  }
}

@mixin padding($padding: 7rem) {
  padding: $padding 0;
  @include md {
    padding: 4rem 0;
  }
  @include sm {
    padding: 3rem 0;
  }
}
