// responsive
@mixin md {
  @media (max-width: #{$laptop - 1}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$mobile - 1}) {
    @content;
  }
}

@mixin padding($padding: 7rem) {
  padding: $padding 0;
  @include md {
    padding: 4rem 0;
  }
  @include sm {
    padding: 3rem 0;
  }
}

@mixin scroll_down {
  animation: arrow-down 4.4s infinite;
  @keyframes arrow-down {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(40px);
    }
    60% {
      transform: translateY(65px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@mixin animate_topBottom {
  animation: topBottom 3.6s infinite alternate ease-in-out;
  @keyframes topBottom {
    0% {
      transform: translateY(-0.4rem);
    }
    100% {
      transform: translateY(0.4rem);
    }
  }
}
