// colors

$light_gray: #f1f1f6;

$green: #006137;

// $primary_color: #2940d3;
$primary_color: #39a9cb;

$op_primary_color: #fff;

$body_dark: #161616;

$selection_bg: rgba(0, 94, 36, 0.603);

$selection_color: #fff;

// Breakpoints
$desktop: 1024px;

$laptop: 992px;

$tablet: 768px;

$mobile: 640px;
