@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

@import 'variables';
@import 'mixins';

/*
"Roboto" : 300, 400, 500, 700, 900
"Poppins" : 300, 400, 500, 600, 700, 800
"Roboto Condensed" : 300, 400, 700
"Montserrat": 300, 400, 500, 600
*/

::-webkit-scrollbar {
  width: 10px;
  background-color: $body_dark - 10;
}
::-webkit-scrollbar-thumb {
  background-color: $body_dark + 40;
  border-top: 2px solid #1e90ff;
  border-bottom: 2px solid #1e90ff;
  box-shadow: inset 0 0 4px #1e90ff;
  // background: linear-gradient(to top, #1e90ff 40%, transparent);
}

::selection {
  background-color: $selection_bg;
  color: $selection_color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #111;
}
p {
  margin: 0;
}

.section_title {
  margin-bottom: 1rem;
  h1 {
    color: $primary_color;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
  }
  span {
    height: 2px;
    width: 2rem;
    display: inline-block;
    background-color: $primary_color;
    margin-right: 0.8rem;
    border-radius: 3rem;
  }
  p {
    color: #eee;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}

// header section
header {
  // navbar section
  // hero section
  .hero {
    background: url('../image/optics-spectrum.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.82);
    }
    &_container {
      min-height: 105vh;
      // max-width: 54%;
      padding-top: 6.7rem;
      // text-align: center;
      // margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      .main_title {
        color: #fff;
        font-size: 3.4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 0 0 4px #000;
        span {
          color: $primary_color;
        }
        @include sm {
          font-size: 2.3rem;
        }
      }
      .sub_title {
        color: #fff;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.4;
        text-transform: capitalize;
        text-shadow: 0 0 4px #000;
        margin: 1rem 0;
        span {
          color: $primary_color + 20;
        }
        @include sm {
          margin: 0.4rem 0;
        }
      }
      .btn_arrow_div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include sm {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          a.arrow_down {
            margin: 0 auto !important;
          }
        }
        .hero_btn {
          text-decoration: none !important;
          display: flex;
          align-items: center;
          padding: 0.8rem 1.7rem;
          font-size: 1rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          letter-spacing: 1px;
          color: $primary_color + 10;
          background: transparent;
          border: 2px solid $primary_color + 10;
          border-radius: 4px;
          margin: 1.3rem 0;
          transition: 0.24s ease-in;
          &:hover {
            color: #111;
            background: $primary_color + 10;
          }
          @include sm {
            font-size: 0.76rem;
            padding: 0.7rem 0.9rem;
          }
        }
        a.arrow_down {
          text-decoration: none !important;
          position: relative;
          display: flex;
          top: 20px;
          color: #888;
          margin-top: 50px;
          margin-right: 50px;
          font-size: 2.4rem;
          & i {
            transform: translateY(0);
            // font-weight: 400;
            animation-timing-function: ease-in;
            animation: arrow-down 3s infinite;
          }

          @keyframes arrow-down {
            0% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(50px);
            }
            50% {
              transform: translateY(40px);
            }
            60% {
              transform: translateY(65px);
            }
            80% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

// about us
.about {
  @include padding($padding: 5rem);
  background-color: #000;
  &_image {
    padding: 4.2rem;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 80%;
      border-radius: 50px;
      border: 8px solid $primary_color + 10;
      box-shadow: 4px 0 14px rgba(0, 0, 0, 0.2);
      transform: skew(-29deg);
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50px 4px 50px 4px;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
      opacity: 0.8;
      @include animate_about;
    }
  }
  &_content {
    h4 {
      color: #eee;
      color: $primary_color + 10;
      font-size: 1.1rem;
      font-family: 'Montserrar', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    h2 {
      color: $primary_color - 10;
      color: #eee;
      font-size: 3.1rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      letter-spacing: 0.7px;
      text-transform: capitalize;
      margin: 1.4rem 0;
    }
    p {
      color: #ccc;
      font-size: 0.87rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 1.7;
      margin: 1rem 0;
    }
    @include md {
      h2 {
        font-size: 2.2rem;
      }
    }
    @include sm {
      h2 {
        font-size: 1.8rem;
        margin: 0.9rem 0;
      }
      p {
        line-height: 1.5;
        margin: 0.7rem 0;
      }
    }
  }
}

// companies
.company {
  @include padding($padding: 2rem);
  background-color: #000 + 7;
  &_logo {
    height: 10rem;
    padding: 0.6rem 1rem;
    background-color: #111;
    border-radius: 8px;
    transition: 0.24s;
    img {
      height: 100%;
      filter: grayscale(90%);
      transition: filter 0.24s;
    }
    &:hover {
      box-shadow: 2px 8px 16px #000;
      img {
        filter: grayscale(0%);
      }
    }
  }
}

// services
.services {
  @include padding;
  background-color: $body_dark - 12;
  .single_service {
    background-color: #000;
    padding: 1.7rem;
    margin: 0.8rem 0;
    border-radius: 5px;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    .icon {
      color: $primary_color;
      font-size: 2rem;
      margin-bottom: 0.6rem;
    }
    h3 {
      color: #fff;
      font-size: 1.4rem;
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 1.6;
      letter-spacing: 1px;
    }
    p {
      color: #999;
      font-size: 0.86rem;
      line-height: 1.7;
      letter-spacing: 0.4px;
    }
    @include md {
      h3 {
        font-size: 1.1rem;
      }
      P {
        font-size: 0.78rem;
        line-height: 1.34;
      }
    }
  }
}

// projects
.projects {
  @include padding;
  background-color: #000 + 5;
  .project_showcase {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    .single_project {
      position: relative;
      height: 24rem;
      // background: url('../image/discuss.jpg') no-repeat;
      // background-position: center;
      background: rgba(80, 90, 114, 0.68);
      flex: 1;
      overflow: hidden;
      transition: 0.4s ease-out;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        mix-blend-mode: luminosity;
        transition: mix-blend-mode 0.28s ease-out;
      }
      .project_details {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 95),
          #000
        );
        padding: 1rem 2.5rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(150px);
        transition: 0.24s ease-in-out;
        h5 {
          color: $primary_color;
          text-shadow: 0 0 8px #111;
          font-size: 2rem;
          font-family: 'Roboto Condensed', sans-serif;
          letter-spacing: 0.4px;
          margin-bottom: 0.6rem;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: 0;
          transform: translateY(80px);
          transition: 0.64s ease-in-out;
        }
        p {
          color: #eee;
          font-size: 0.9rem;
          letter-spacing: 0.4px;
          line-height: 1.6;
          opacity: 0;
          transform: translateY(150px);
          transition: 0.64s ease-in-out;
        }
        a {
          text-decoration: none !important;
          display: flex;
          align-items: center;
          padding: 0.8rem 1.7rem;
          font-size: 1rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          letter-spacing: 1px;
          color: $primary_color;
          background: transparent;
          border: 2px solid $primary_color;
          border-radius: 4px;
          margin: 1rem 0;
          opacity: 0;
          transform: translateY(190px);
          transition: 0.6s ease-in-out;
          i {
            margin-left: 0.7rem;
          }
          &:hover {
            color: #111;
            background: $primary_color;
          }
        }
        @include sm {
          padding: 0.8rem 1rem;
          h5 {
            font-size: 1.25rem;
          }
          p {
            font-size: 0.7rem;
          }
          a {
            font-size: 0.76rem;
            padding: 0.5rem 0.7rem;
          }
        }
      }
      // on hover project
      &:hover {
        flex-grow: 3;
        img {
          mix-blend-mode: normal;
        }
        @include sm {
          flex-grow: 5;
        }
        .project_details {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
          h5,
          p,
          a {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
  a.more {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.7rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: $primary_color;
    background: transparent;
    border: 2px solid $primary_color;
    border-radius: 4px;
    margin: 1rem 0;
    transition: 0.24s ease-in;
    i {
      margin-left: 0.7rem;
    }
    &:hover {
      color: #111;
      background: $primary_color;
    }
    @include sm {
      a {
        font-size: 0.76rem;
        padding: 0.5rem 0.7rem;
      }
    }
  }
}

// contact
.contact {
  background-color: #000 + 8;
  .form_section {
    @include padding;
    .con_title {
      margin-bottom: 2rem;
      h1 {
        color: $primary_color;
        font-family: 'Poppins', sans-serif;
      }
      p {
        color: #eee;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
    form {
      width: 32rem;
      @include sm {
        width: 24rem;
      }
      .form_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .form_box {
          width: 48%;
        }
        @include sm {
          flex-direction: column;
          .form_box {
            width: 100%;
          }
        }
      }
      .form_box {
        margin: 0.7rem 0;
        label {
          // display: none;
          width: 100%;
          color: #888;
          font-size: 0.8rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        input,
        textarea {
          width: 100%;
          background-color: $body_dark + 10;
          border: 2px solid $body_dark + 20;
          outline: none;
          border-radius: 5px;
          padding: 6px 12px;
          font-size: 0.9rem;
          color: #fff;
          caret-color: $primary_color;
          letter-spacing: 0.4px;
          transition: all 0.24s;
          &:hover {
            border-color: $body_dark + 40;
          }
          &:focus {
            border-color: $primary_color - 20;
          }
        }
        textarea {
          min-height: 8rem;
          max-height: 10rem;
        }
        button {
          padding: 1rem 3rem;
          color: #eee;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 0.4px;
          background-color: transparent;
          border: 2px solid $primary_color;
          outline: none;
          border-radius: 5px;
          transition: all 0.24s;
          &:hover {
            border-color: $body_dark - 20;
            background-color: $primary_color - 20;
          }
          &:focus {
            border-color: $body_dark + 40;
          }
          @include sm {
            padding: 0.8rem 2rem;
          }
        }
      }
    }
  }
  .map_section {
    height: 100%;
    width: 100%;
    background: $body_dark + 50;
    position: relative;
    iframe {
      height: 100%;
      min-height: 30vh;
      width: 100%;
      border: 0;
      filter: grayscale(100%);
      mix-blend-mode: overlay;
    }
  }
}

// footer
footer {
  margin-top: auto;
  padding: 6rem 0 2rem 0;
  color: rgb(160, 160, 160);
  font-size: 1.05rem;
  background-color: #000;
  // background: url('../image/light\ spray.jpg') no-repeat;
  // background-size: cover;
  // background-position: center;
  // position: relative;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background: rgba(0, 0, 0, 0.886);
  // }

  @include md {
    padding: 2rem 0;
  }
  // footer nav section
  .footer_nav {
    .foo_con {
      margin: 0.5rem 0;
      h5 {
        color: #fff;
        font-size: 1.4rem;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        margin-bottom: 1.2rem;
      }
      p {
        line-height: 1.6;
        text-align: left;
        font-size: 1rem;
      }
      @include md {
        h5 {
          font-size: 1.17rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      ul li {
        margin-bottom: 8px;
      }
      &.foo_links {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: inherit;
          display: inline-block;
          margin-bottom: 8px;
          transition: all 0.24s;
          &:hover {
            text-decoration: underline;
            color: $primary_color + 10;
          }
        }
      }
      .con_box {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0;
        div {
          i {
            line-height: 1.7;
          }
          span {
            color: #eee;
            font-weight: bold;
            line-height: 1.7;
          }
        }
      }
    }
  }
  // hr line
  .hr {
    height: 1px;
    width: 100%;
    background: #444;
    margin: 1.7rem 0;
    position: relative;
  }
  // copyright section
  .copyright_section {
    position: relative;
    p {
      line-height: 1.6;
      a {
        text-decoration: none;
        color: $primary_color + 20;
        text-transform: capitalize;
      }
    }
    .soc_icons {
      display: flex;
      a {
        text-decoration: none;
        color: $light_gray;
        padding: 3px;
        margin: 0 7px;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: rgba(138, 138, 138, 0.14);
        transition: 0.34s;
        &:hover {
          color: $primary_color + 10;
          background-color: rgba(138, 138, 138, 0.44);
        }
      }
    }
  }
}
