@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
::-webkit-scrollbar {
  width: 10px;
  background-color: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border-top: 2px solid #1e90ff;
  border-bottom: 2px solid #1e90ff;
  -webkit-box-shadow: inset 0 0 7px #1e90ff;
          box-shadow: inset 0 0 7px #1e90ff;
}

::-moz-selection {
  background-color: rgba(53, 141, 255, 0.562);
  color: #fff;
}

::selection {
  background-color: rgba(53, 141, 255, 0.562);
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  position: relative;
  overflow: hidden;
}

p {
  margin: 0;
}

section {
  overflow: hidden !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  overflow: hidden;
  z-index: 100;
}

#preloader .loading {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 42%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border-top: 5px solid #1e90ff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
"Roboto" : 300, 400, 500, 700, 900
"Poppins" : 300, 400, 500, 600, 700, 800
"Roboto Condensed" : 300, 400, 700
"Montserrat": 300, 400, 500, 600
*/
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: transparent;
  -webkit-transition: all 0.27s ease-out;
  transition: all 0.27s ease-out;
  z-index: 99;
}

header nav .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .navbar a.logo {
  text-decoration: none !important;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbar a.logo img {
  height: 2.2rem;
}

header nav .navbar a.logo span {
  font-size: 1.24rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 0.6rem;
}

@media (max-width: 991px) {
  header nav .navbar a.logo span {
    font-size: 1.1rem;
  }
}

header nav .navbar div.toggle_btn {
  color: #fff;
  font-size: 1.74rem;
  display: none;
  padding: 4px 8px;
  cursor: pointer;
}

@media (max-width: 639px) {
  header nav .navbar div.toggle_btn {
    display: block;
  }
}

header nav .navbar ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (max-width: 639px) {
  header nav .navbar ul.menu {
    display: none;
  }
}

header nav .navbar ul.menu li {
  margin: 0 0.5rem;
}

header nav .navbar ul.menu li a {
  text-decoration: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eee;
  font-size: 0.92rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  padding: 2px;
  -webkit-transition: 0.24s;
  transition: 0.24s;
}

header nav .navbar ul.menu li a:last-child {
  margin-right: 0;
}

header nav .navbar ul.menu li a.link_btn {
  padding: 7px 14px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #32a4ff;
}

header nav .navbar ul.menu li a:hover {
  color: #50c2ff;
}

header nav .navbar ul.menu li a:hover.link_btn {
  background: #32a4ff;
  color: #fff;
}

header nav .navbar ul.menu li .profile_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
  cursor: default;
}

header nav .navbar ul.menu li .profile_menu .initial {
  height: 1.5rem;
  width: 1.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 0.76rem;
  font-weight: bold;
  color: #fff;
  background: #32a4ff;
}

header nav .navbar ul.menu li .profile_menu .username {
  font-size: 0.9rem;
  width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 4px;
}

header nav .navbar ul.menu li .profile_menu span {
  margin-bottom: 4px;
}

header nav .navbar ul.menu li .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #161616;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.22s;
  transition: all 0.22s;
}

header nav .navbar ul.menu li .dropdown a {
  display: block;
  padding: 4px 8px;
  margin: 4px 14px;
}

header nav .navbar ul.menu li.profile_menu_li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .mobnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: none;
}

header .mobnav i#close {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 14px 18px;
  margin: 14px 14px 0 0;
  z-index: 99;
}

header .mobnav ul {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-left: 44px;
  position: relative;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .mobnav ul li {
  list-style-type: none;
  display: block;
}

header .mobnav ul li a {
  text-decoration: none !important;
  color: #eee;
  margin: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  position: relative;
  left: 0%;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .mobnav ul li a:hover {
  text-decoration: none;
  color: #1e90ff;
  margin-left: 10px;
}

.login_form_section {
  min-height: auto;
  position: relative;
}

.login_form_section .ocean_bg {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.login_form_section .ocean_bg .wave {
  background: url("../image/wave.svg") repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.login_form_section .ocean_bg .wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

.login_form_section .form_section {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login_form_section .form_section .form_container {
  padding: 1.7rem 2.2rem;
  width: 22.4rem;
  max-width: 95%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 14px black;
          box-shadow: 0 0 14px black;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.login_form_section .form_section .form_container h1 {
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7rem 0;
  margin-bottom: 1rem;
  position: relative;
}

.login_form_section .form_section .form_container h1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 2px;
  background-color: #1e90ff;
}

.login_form_section .form_section .form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_form_section .form_section .form_container form .form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}

.login_form_section .form_section .form_container form label {
  color: #ccc;
  font-size: 0.92rem;
  padding: 4px 9px;
  cursor: pointer;
}

.login_form_section .form_section .form_container form input {
  padding: 0.4rem 0.9rem;
  font-size: 0.8rem;
  outline: none;
  color: #ccc;
  letter-spacing: 0.5px;
  border: 2px solid #1e90ff;
  border-radius: 20rem;
  background: transparent;
}

.login_form_section .form_section .form_container form button {
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  background: #0a7ceb;
  border: 2px solid #1486f5;
  outline: none;
  padding: 0.2rem 0.9rem;
  border-radius: 3rem;
}

.login_form_section .form_section .form_container .signup_link {
  color: #ccc;
  font-size: 0.92rem;
  margin-top: 7px;
}

.login_form_section .form_section .form_container .signup_link a {
  color: #289aff;
  font-size: 114%;
  text-transform: capitalize;
}

footer {
  margin-top: auto;
  padding: 6rem 0 2rem 0;
  color: #a0a0a0;
  font-size: 1.05rem;
  background-color: #000;
}

@media (max-width: 991px) {
  footer {
    padding: 2rem 0;
  }
}

footer .footer_nav .foo_con {
  margin: 0.5rem 0;
}

footer .footer_nav .foo_con h5 {
  color: #fff;
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

footer .footer_nav .foo_con p {
  line-height: 1.6;
  text-align: left;
  font-size: 1rem;
}

@media (max-width: 991px) {
  footer .footer_nav .foo_con h5 {
    font-size: 1.17rem;
  }
  footer .footer_nav .foo_con p {
    font-size: 0.9rem;
  }
}

footer .footer_nav .foo_con ul li {
  margin-bottom: 8px;
}

footer .footer_nav .foo_con.foo_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_nav .foo_con.foo_links a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 8px;
  -webkit-transition: all 0.24s;
  transition: all 0.24s;
}

footer .footer_nav .foo_con.foo_links a:hover {
  text-decoration: underline;
  color: #289aff;
}

footer .footer_nav .foo_con .con_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
}

footer .footer_nav .foo_con .con_box div i {
  line-height: 1.7;
}

footer .footer_nav .foo_con .con_box div span {
  color: #eee;
  font-weight: bold;
  line-height: 1.7;
}

footer .hr {
  height: 1px;
  width: 100%;
  background: #444;
  margin: 1.7rem 0;
  position: relative;
}

footer .copyright_section {
  position: relative;
}

footer .copyright_section p {
  line-height: 1.6;
}

footer .copyright_section p a {
  text-decoration: none;
  color: #32a4ff;
  text-transform: capitalize;
}

footer .copyright_section .soc_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright_section .soc_icons a {
  text-decoration: none;
  color: #f1f1f6;
  padding: 3px;
  margin: 0 7px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(138, 138, 138, 0.14);
  -webkit-transition: 0.34s;
  transition: 0.34s;
}

footer .copyright_section .soc_icons a:hover {
  color: #289aff;
  background-color: rgba(138, 138, 138, 0.44);
}
/*# sourceMappingURL=login.css.map */