@import 'variables';
@import 'mixins';

// default styles
@include defaults;

/*
"Roboto" : 300, 400, 500, 700, 900
"Poppins" : 300, 400, 500, 600, 700, 800
"Roboto Condensed" : 300, 400, 700
"Montserrat": 300, 400, 500, 600
*/

// navbar
header {
  @include navbar;
}

.login_form_section {
  min-height: auto;
  position: relative;
  // background wave section
  @include wave_bg;

  // form section
  .form_section {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    .form_container {
      padding: 1.7rem 2.2rem;
      width: 22.4rem;
      max-width: 95%;
      background: rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 14px rgba(0, 0, 0, 1);
      border-radius: 7px;
      backdrop-filter: blur(5px);
      h1 {
        color: #fff;
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        padding: 0.7rem 0;
        margin-bottom: 1rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3rem;
          height: 2px;
          background-color: $primary_color;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        .form_row {
          display: flex;
          flex-direction: column;
          margin: 0.5rem 0;
          a {
            text-decoration: none;
            color: $primary_color + 50;
            font-size: 0.9rem;
            letter-spacing: 0.4px;
            margin: 7px 9px;
          }
        }
        label {
          color: #ccc;
          font-size: 0.92rem;
          padding: 4px 9px;
          cursor: pointer;
        }
        input:not(.form-check-input) {
          padding: 0.4rem 0.9rem;
          font-size: 0.8rem;
          outline: none;
          color: #fff;
          letter-spacing: 0.5px;
          border: 2px solid $primary_color;
          border-radius: 20rem;
          background: transparent;
        }
        button {
          color: $op_primary_color;
          letter-spacing: 1px;
          text-transform: capitalize;
          font-size: 1.1rem;
          font-family: 'Roboto Condensed', sans-serif;
          background: $primary_color + 20;
          border: none;
          outline: none;
          padding: 0.3rem 0.9rem;
          margin-top: 7px;
          border-radius: 3rem;
          transition: all 0.24s;
          &:hover {
            background: $primary_color - 10;
          }
        }
      }
      .signup_link {
        color: #fff;
        font-size: 0.92rem;
        margin-top: 7px;
        a {
          color: $primary_color + 10;
          font-size: 114%;
          text-transform: capitalize;
        }
      }
    }
  }
}

// footer
@include footer;
