<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <!-- favicon -->
    <link rel="icon" href="./image/favicon.png" sizes="16x16" />
    <!-- bootstrap 5 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"
      integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="./css/signup.css" />
  </head>
  <body>
    <!-- preloader -->
    <section id="preloader">
      <div class="loading"></div>
    </section>

    <!-- header section -->
    <header>
      <nav>
        <div class='container'>
          <div class='navbar'>
            <a href='/' class='logo'>
              <img src='./image/favicon.png' alt='logo' />
              <span>Spectrum</span>
            </a>
            <div class='toggle_btn'><i class='fas fa-bars'></i></div>
            <ul class="menu list-unstyled">
              <li>
                <a href="/" class="align-items-center"
                  ><i class="fas fa-chevron-left"></i>&nbsp; Back to home</a
                >
              </li>
              <li><a href="/login" class="link_btn">Log in</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Mobile nav -->
      <section>
        <div id='mob-menu' class='mobnav'>
          <i id='close' class='fa fa-times' aria-hidden='true'></i>
          <ul class="menu list-unstyled">
              <li>
                <a href="/" class="align-items-center"
                  ><i class="fas fa-chevron-left"></i>&nbsp; Back to home</a
                >
              </li>
              <li><a href="/login" class="link_btn">Log in</a></li>
            </ul>
        </div>
      </section>
      <!-- Mobile nav end -->
      <!-- ------  Navbar end ------ -->

    <!-- signup form section -->
    <section class="signup_form_section">
      <!-- ocean background -->
      <div class="ocean_bg">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="container form_section">
        <div class="form_container">
          <h1>Sign up</h1>
          <form method="POST">
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="fname">First Name *</label>
                <input
                  type="text"
                  name="fname"
                  id="fname"
                  placeholder="e.g: John"
                  required
                />
              </div>
              <div class="form_box">
                <label for="lname">Last Name *</label>
                <input
                  type="text"
                  name="lname"
                  id="lname"
                  placeholder="e.g: Doe"
                  required
                />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="gender">Gender *</label>
                <select name="gender" id="gender" required>
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form_box">
                <label for="dob">Date of birth *</label>
                <input type="date" name="dob" id="dob" required />
              </div>
              <div class="form_box">
                <label for="branch">Branch *</label>
                <select name="branch" id="branch" required>
                  <option value="">Select</option>
                  <option value="B.Tech">B.Tech</option>
                  <option value="Int.M.Sc">Int.M.Sc</option>
                  <option value="Int.M.C.A">Int.M.C.A</option>
                  <option value="M.C.A">M.C.A</option>
                  <option value="M.Tech">M.Tech</option>
                </select>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="year">Year *</label>
                <select name="year" id="year" required>
                  <option value="">Select</option>
                  <option value="1st">1st</option>
                  <option value="2nd">2nd</option>
                  <option value="3rd">3rd</option>
                  <option value="4th">4th</option>
                </select>
              </div>
              <div class="form_box">
                <label for="email">Email *</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="e.g: name@email.com"
                  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                  title="Invalid format"
                  required
                />
              </div>
              <div class="form_box">
                <label for="phone">Phone(+91) *</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  minlength="10"
                  maxlength="12"
                  placeholder="e.g: 123 456 7890"
                  required
                />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="domain">Domain *</label>
                <input
                  type="text"
                  name="domain"
                  id="domain"
                  placeholder="e.g: UI/UX, Web Design, Mobile App Design"
                  required
                />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="address">Address *</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  placeholder="Plot, street, area, city, state, pincode"
                  required
                />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="form_box">
                <label for="password">Password *</label>
                <input type="password" name="password" minlength="6" placeholder="minimum 6 character long" id="password" required />
              </div>
              <div class="form_box">
                <label for="con_password">Confirm password *</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="con_password"
                  required
                />
              </div>
            </div>
            <p class="err_msg text-danger mt-3"></p>
            <div class="form_box">
              <button type="submit">Register</button>
            </div>
          </form>
          <div class="login_link">
            Already have an account? <a href="/login">Log in</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {{> footer}}

    <script type="text/javascript">
      const errMsg = document.querySelector('.err_msg');
      const form = document.querySelector('form');
      
      function escapeHtml(unsafeStr) {
        return unsafeStr
              .trim()
              .replace(/&/g, "&amp;")
              .replace(/</g, "&lt;")
              .replace(/>/g, "&gt;")
              .replace(/"/g, "&quot;")
              .replace(/'/g, "&#039;");
      }

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // get values
        const fname = escapeHtml(form.fname.value);
        const lname = escapeHtml(form.lname.value);
        const gender = escapeHtml(form.gender.value);
        const dob = escapeHtml(form.dob.value);
        const branch = escapeHtml(form.branch.value);
        const year = escapeHtml(form.email.value);
        const email = escapeHtml(form.email.value);
        const phone = escapeHtml(form.phone.value);
        const domain = escapeHtml(form.domain.value);
        const address = escapeHtml(form.address.value);
        const password = escapeHtml(form.password.value);
        const conPassword = escapeHtml(form.confirm_password.value);

        try {
          if(password.length < 6) {
            errMsg.innerText = 'Password length min 6 char long.';
          }
          if(password == conPassword) {
            const res = await fetch('/api/signup', {
              method:'POST',
              body: JSON.stringify({fname, lname, gender, dob, branch, year, email, phone, domain, address, password}),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            if(data.error) {
              errMsg.innerText = data.message;
            }
            if(!data.error && data.isLoggedIn) {
              errMsg.innerText = '';
              location.assign('/');
            }
          } else {
            errMsg.innerText = 'Password did not match.';
          }
        } catch(err) {
          errMsg.innerText = err;
          console.error(err);
        }
      })
    </script>
  </body>
</html>
